.product {
	border-radius: 5px;
	background: white;
	transition: 0.2s ease-in-out;
	width: 19%;
  margin: 1%;
  border: 2px solid;

	&:hover {
		box-shadow: 0px 5px 37px -22px rgba(0, 0, 0, 1);
	}

	.details {
		display: flex;
	}

	.title {
		// font-weight: bold;
    margin: 3%;
    padding-left: 7%;
	}

	.price {
		margin-left: 25px;
		padding: 5px 0;
	}

	img {
		object-fit: contain;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		max-width: 100%;
	}

	button {
    width: 75%;
    font-size: 1rem;
    border-radius: 8px;
		border: 2px solid lightseagreen;
		padding: 2.5%;
		background: transparent;
		transition: 0.15s ease-in-out;
		margin: 12%;
		color: lightcoral;
    // text-align: center;

		&:hover {
			cursor: pointer;
			background: lightcoral;
			color: white;
		}
	}
}
